

.search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
  }
  

  @media (min-width: 768px) {
    .search-input {
      font-size: 18px;
      padding: 12px;
      width: 200%;
    }
  }
  